<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-helloWorld" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>helloWorld</name>
    <js-module name="helloWorld" src="www/helloWorld.js">
        <clobbers target="helloWorld" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="helloWorld">
                <param name="android-package" value="cordova.plugin.helloWorld.helloWorld" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application"  target="AndroidManifest.xml">
           <activity android:label="helper" android:name="cordova.plugin.helloWorld.helper"></activity>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/helloWorld.java" target-dir="src/cordova/plugin/helloWorld/helloWorld" />
        <source-file src="src/android/helper.java" target-dir="src/cordova/plugin/helloWorld/helloWorld" />
        <source-file src="src/android/help_activity.xml" target-dir="res/layout" />
    </platform>
</plugin>