<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-helloWorld" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>helloWorld</name>
    <js-module name="helloWorld" src="www/helloWorld.js">
        <clobbers target="helloWorld" />
    </js-module>
    <!-- Platforma android/ios -->
    <platform name="android">
        <!-- Pachet -->
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="helloWorld">
                <param name="android-package" value="cordova.plugin.helloWorld.helloWorld" />
            </feature>
        </config-file>
       
        <!-- activitati -->
        <config-file parent="/manifest/application" target="AndroidManifest.xml">

        <activity android:label="MainActivity" android:name="cordova.plugin.helloWorld.disertatie.MainActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:label="SettingsActivity" android:name="cordova.plugin.helloWorld.disertatie.SettingsActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:label="BicycleEventsActivity" android:name="cordova.plugin.helloWorld.disertatie.BicycleEventsActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:label="CarEventsActivity" android:name="cordova.plugin.helloWorld.disertatie.CarEventsActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:label="PedestrianEventsActivity" android:name="cordova.plugin.helloWorld.disertatie.PedestrianEventsActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:label="TransportEventsActivity" android:name="cordova.plugin.helloWorld.disertatie.TransportEventsActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:label="EventsActivity" android:name="cordova.plugin.helloWorld.disertatie.EventsActivity" android:theme="@style/Theme.AppCompat.Light"></activity>
       
        </config-file>
        

        <!-- permisiuni -->
        <config-file parent="/manifest" target="AndroidManifest.xml">
           <uses-permission android:name="android.permission.READ_PHONE_STATE" />
           <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
           <uses-permission android:name="android.permission.GET_TASKS" />
           <uses-permission android:name="android.permission.INTERNET" />
           <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
           <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
           <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
           <uses-permission android:name="android.permission.MICROPHONE" />
           <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
           <uses-permission android:name="android.permission.RECORD_AUDIO" />
           <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <!-- serviciu -->
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
        <service android:name="cordova.plugin.helloWorld.disertatie.ListenerService" />
        </config-file> 

         <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <!-- fisiere =  main -->
        <source-file src="src/android/helloWorld.java" target-dir="src/cordova/plugin/helloWorld/helloWorld" />

        <!-- fisiere =  database -->
        <source-file src="src/android/database/interfaces/AxisData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database/interfaces" />
        <source-file src="src/android/database/interfaces/LocationData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database/interfaces" />
        <source-file src="src/android/database/interfaces/StringValueData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database/interfaces" />
        <source-file src="src/android/database/interfaces/ValueData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database/interfaces" />
        <source-file src="src/android/database/AccelerometerData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/BatteryData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />     
        <source-file src="src/android/database/ContextData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/ForegroundApplicationData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/GyroscopeData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/LightData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/LinearAccelerationData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/LocationSensorData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/MagneticFieldData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/PressureData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/ProximityData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        <source-file src="src/android/database/SoundData.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/database" />
        
        <!-- fisiere =  disertatie -->
        <source-file src="src/android/disertatie/BicycleEventsActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/CarEventsActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/EventActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/EventsActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/ListenerService.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/MainActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/PedestrianEventsActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/SettingsActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />
        <source-file src="src/android/disertatie/TransportEventsActivity.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/disertatie" />

        <!-- fisiere =  helpers -->
        <source-file src="src/android/helpers/HttpRequest.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/helpers" />
        <source-file src="src/android/helpers/Setting.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/helpers" />
        <source-file src="src/android/helpers/SoundMeter.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/helpers" />

        <!-- fisiere =  listeners -->
        <source-file src="src/android/listeners/BatteryLevel.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/listeners" />
        <source-file src="src/android/listeners/CurrentLocationListener.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/listeners" />
        <source-file src="src/android/listeners/SensorListener.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/listeners" />
        <source-file src="src/android/listeners/WifiListener.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/listeners" />

        <!-- fisiere =  tasks -->
        <source-file src="src/android/tasks/BatteryWatcherTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/ForegroundAppWatcher.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/ListenerTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/LocationListenerTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/SaverTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/SenderTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/SensorListenerTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        <source-file src="src/android/tasks/SoundWatcherTask.java" target-dir="src/cordova/plugin/helloWorld/helloWorld/tasks" />
        
        <!-- fisiere =  res.drawable  -->
         <resource-file src="src/android/res/drawable/blue.xml" target="res/drawable/blue.xml" />
         <resource-file src="src/android/res/drawable/brown.xml" target="res/drawable/brown.xml" />
         <resource-file src="src/android/res/drawable/green.xml" target="res/drawable/green.xml" />
         <resource-file src="src/android/res/drawable/orange.xml" target="res/drawable/orange.xml" />
         <resource-file src="src/android/res/drawable/pink.xml" target="res/drawable/pink.xml" />
         <resource-file src="src/android/res/drawable/purple.xml" target="res/drawable/purple.xml" />
         <resource-file src="src/android/res/drawable/red.xml" target="res/drawable/red.xml" />
         <resource-file src="src/android/res/drawable/yellow.xml" target="res/drawable/yellow.xml" />
        
        <!-- fisiere =  res.drawable-hdpi   -->
        <resource-file src="src/android/res/drawable-hdpi/ic_launcher_bicycle.png" target="res/drawable-hdpi/ic_launcher_bicycle.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_launcher_car.png" target="res/drawable-hdpi/ic_launcher_car.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_launcher_pedestrian.png" target="res/drawable-hdpi/ic_launcher_pedestrian.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_launcher_transport.png" target="res/drawable-hdpi/ic_launcher_transport.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_launcher.png" target="res/drawable-hdpi/ic_launcher.png" />
         
        <!-- fisiere =  res.drawable-mdpi   -->
        <resource-file src="src/android/res/drawable-mdpi/ic_launcher_bicycle.png" target="res/drawable-mdpi/ic_launcher_bicycle.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_launcher_car.png" target="res/drawable-mdpi/ic_launcher_car.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_launcher_pedestrian.png" target="res/drawable-mdpi/ic_launcher_pedestrian.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_launcher_transport.png" target="res/drawable-mdpi/ic_launcher_transport.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_launcher.png" target="res/drawable-mdpi/ic_launcher.png" />
        
        <!-- fisiere =  res.drawable-xhdpi  -->
        <resource-file src="src/android/res/drawable-xhdpi/ic_launcher_bicycle.png" target="res/drawable-xhdpi/ic_launcher_bicycle.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_launcher_car.png" target="res/drawable-xhdpi/ic_launcher_car.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_launcher_pedestrian.png" target="res/drawable-xhdpi/ic_launcher_pedestrian.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_launcher_transport.png" target="res/drawable-xhdpi/ic_launcher_transport.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_launcher.png" target="res/drawable-xhdpi/ic_launcher.png" />
       
        <!-- fisiere =  res.drawable-xxhdpi -->
        <resource-file src="src/android/res/drawable-xxhdpi/ic_launcher_bicycle.png" target="res/drawable-xxhdpi/ic_launcher_bicycle.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_launcher_car.png" target="res/drawable-xxhdpi/ic_launcher_car.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_launcher_pedestrian.png" target="res/drawable-xxhdpi/ic_launcher_pedestrian.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_launcher_transport.png" target="res/drawable-xxhdpi/ic_launcher_transport.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_launcher.png" target="res/drawable-xxhdpi/ic_launcher.png" />
        
        <!-- fisiere =  res.layout -->
        <resource-file src="src/android/res/layout/activity_bicycle.xml" target="res/layout/activity_bicycle.xml" />
        <resource-file src="src/android/res/layout/activity_car_events.xml" target="res/layout/activity_car_events.xml" />
        <resource-file src="src/android/res/layout/activity_events.xml" target="res/layout/activity_events.xml" />
        <resource-file src="src/android/res/layout/activity_main.xml" target="res/layout/activity_main.xml" />
        <resource-file src="src/android/res/layout/activity_pedestrian.xml" target="res/layout/activity_pedestrian.xml" />
        <resource-file src="src/android/res/layout/activity_settings.xml" target="res/layout/activity_settings.xml" />
        <resource-file src="src/android/res/layout/activity_transport_events.xml" target="res/layout/activity_transport_events.xml" />
        
        <!-- fisiere =  res.menu -->
        <resource-file src="src/android/res/menu/bicycle.xml" target="res/menu/bicycle.xml" />
        <resource-file src="src/android/res/menu/car_events.xml" target="res/menu/car_events.xml" />
        <resource-file src="src/android/res/menu/events.xml" target="res/menu/events.xml" />
        <resource-file src="src/android/res/menu/main.xml" target="res/menu/main.xml" />
        <resource-file src="src/android/res/menu/pedestrian.xml" target="res/menu/pedestrian.xml" />
        <resource-file src="src/android/res/menu/settings.xml" target="res/menu/settings.xml" />
        <resource-file src="src/android/res/menu/transport_events.xml" target="res/menu/transport_events.xml" />

        <!-- fisiere =  res.values -->
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <!-- fisiere =  res.values-v11 -->
        <resource-file src="src/android/res/values-v11/styles.xml" target="res/values-v11/styles.xml" />        
        <!-- fisiere =  res.values-v14 -->
        <resource-file src="src/android/res/values-v14/styles.xml" target="res/values-v14/styles.xml" />

        <!-- fisiere =  res.values-w820dp -->
        <resource-file src="src/android/res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />

        <!-- fisiere =  libs / frameworks -->
        <!-- maven dependencies -->
        <framework src="com.android.support:support-v4:22.2.1" />
        <framework src="com.android.support:appCompat-v7:22.2.1" />    
        <!-- realm .jar file-->
        <lib-file  src="src/android/libs/realm-0.82.0.jar" target-dir="libs" />

        <source-file src="src/android/libs/arm64-v8a/librealm-jni.so" target-dir="jniLibs/arm64-v8a" />
        <source-file src="src/android/libs/armeabi/librealm-jni.so" target-dir="jniLibs/armeabi" />
        <source-file src="src/android/libs/armeabi-v7a/librealm-jni.so" target-dir="jniLibs/armeabi-v7a" />
        <source-file src="src/android/libs/mips/librealm-jni.so" target-dir="jniLibs/mips" />
        <source-file src="src/android/libs/x86/librealm-jni.so" target-dir="jniLibs/x86" />



    </platform>
</plugin>